################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/simplest/WebApiCoreSimplestJwtApp/WebApiCoreSimplestJwtApp/bin/Debug/netcoreapp2.0
