################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/simplest/WebApiCoreSimplestJwtApp/WebApiCoreSimplestJwtApp/bin/Debug/netcoreapp2.0
/simplest/WebApiCoreSimplestJwtApp/WebApiCoreSimplestJwtApp/obj/Debug/netcoreapp2.0
/simplest/WebApiCoreJwtAppWithDb/WebApiCoreJwtAppWithDb/bin/Debug/netcoreapp2.0
/simplest/WebApiCoreJwtAppWithDb/WebApiCoreJwtAppWithDb/obj
